<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.d12frosted.saruman</string>
    <key>EnvironmentVariables</key>
    <dict>
	    <key>PATH</key>
	    <string>/bin:/usr/bin:/usr/local/bin</string>
      <key>LC_ALL</key>
      <string>en_US.UTF-8</string>
      <key>LANG</key>
      <string>en_US.UTF-8</string>
      <key>LANGUAGE</key>
      <string>en_US.UTF-8</string>
    </dict>
    <key>KeepAlive</key>
    <false/>
    <key>ProgramArguments</key>
    <array>
      <string>sh</string>
      <string>-c</string>
      <string>~/.environment/email/gendalf.sh saruman 1</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StartInterval</key>
    <integer>60</integer>
    <key>StandardOutPath</key>
    <string>/Users/d12frosted/the.out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/d12frosted/the.error.log</string>
  </dict>
</plist>
