# haskell
# https://github.com/commercialhaskell/stack/blob/master/.gitignore
*.hi
*.o
*.swp
*.tag
*~
*_flymake.hs
.hsenv
.stack-work/
/.cabal-sandbox/
TAGS
cabal-dev/
cabal.sandbox.config
dist/
tags
/_release/
.vagrant/
*.imports
/.idea/
/*.iml

# csharp
NuGet/
xbuild/

# git
git/local.config
git/local/*

# output files
*.out

# some .mono files
.mono/

# Ignored applications
Blue Jeans
GIMP
QtProject.conf
Slack
StardewValley
Trolltech.conf
bloop
chromium
dconf
gconf
google-chrome
gtk-2.0
gtk-3.0
libfm
mc
menus
pcmanfm
procps
pulse
spotify
yay
