[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
[submodule "emacs/packages/org-mode"]
	path = emacs/packages/org-mode
	url = git://orgmode.org/org-mode.git
[submodule "emacs/packages/fish-mode"]
	path = emacs/packages/fish-mode
	url = git@github.com:d12frosted/fish-mode.git
[submodule "emacs/packages/structured-haskell-mode"]
	path = emacs/packages/structured-haskell-mode
	url = https://github.com/chrisdone/structured-haskell-mode.git
