table, span {
  color: #22b86f;
}

.white {
  color: #fdfed2;}

.black {
  color: #4a3857;
}

.background {
  background-color: #4a3857;
}

.red {
  color: #ff5549;
}

.purple {
  color: #ee4fc9;
}

.orange {
  color: #ef883b;
}

.orangebg {
  background: #ef883b;
  color: #4a3857;
}

.yellow {
  color: #e19758;
}

.yellowbg {
  background: #e19758;
  color: #4a3857;
}

.green {
  color: #22b86f;
}

.greenbg {
  background: #22b86f;
  color: #4a3857;
}

.cyan {
  color: #6fc6a1;
}

.cyanbg {
  background: #6fc6a1;
  color: #4a3857;
}

.blue {
  color: #7afdff;
}

.teal {
  color: #6fc6a1;
}

.grey {
  color: #999999;
}

.greybg {
  background: #999999;
}


@media screen and (-webkit-min-device-pixel-ratio:0) {
  input[type='range']::-webkit-slider-thumb {
    background: #fdfed2;
    color: #22b86f;
  }
}
