table, span {
  color: #7aa5ff;
}

.white {
  color: #f1eff8;}

.black {
  color: #292a44;
}

.background {
  background-color: #292a44;
}

.red {
  color: #ff79c6;
}

.purple {
  color: #ae81ff;
}

.orange {
  color: #FFA500;
}

.orangebg {
  background: #FFA500;
  color: #292a44;
}

.yellow {
  color: #efe4a1;
}

.yellowbg {
  background: #efe4a1;
  color: #292a44;
}

.green {
  color: #2de0a7;
}

.greenbg {
  background: #2de0a7;
  color: #292a44;
}

.cyan {
  color: #6dfedf;
}

.cyanbg {
  background: #6dfedf;
  color: #292a44;
}

.blue {
  color: #7aa5ff;
}

.teal {
  color: #8eaee0;
}

.grey {
  color: #f1eff8;
}
