/* ––––––––––––––––
––––––––––––––––––– GLOBAL VALUES
––––––––––––––––––– */

:root {
  --global_margin: 0px;
  --left-margin: 0px;
  --right-margin: 0px;
  --line-size: 24px;

  --shadow_opacity: 1;
  --bar_opacity: 1;
}

/* ––––––––––––––––
––––––––––––––––––– GENERAL
––––––––––––––––––– */

.widg {
  color: var(--foreground);
  font-family: 'Lucida Grande', Bold;
  font-size: 12px;
  font-smoothing: antialiasing;
  z-index: 1;
  float: left;
  display: flex;
  align-items: center;
  height: var(--line-size);
}

.bar-container {
  background-color: var(--background);
  height: var(--line-size);
  position: relative;
  z-index: -1;
  /*box-shadow: 0px 1px 5px 0px rgba(0,0,0,0.8);*/
  border-radius: 1px;
  opacity: var(--bar_opacity)
}

.icon-container {
  display: inline;
  float: left;
  height: var(--line-size);
  width: var(--line-size);
  display: flex;
  align-items: center;
  justify-content: center;
}

.output {
  overflow: hidden;
  white-space: nowrap;
  display: inline;
  min-width: var(--line-size);
  width: auto;
  padding-left: 4px;
  padding-right: 4px;
  color: var(--foreground) !important;
}

.bar-output {
  width: 60px;
  height: 4px;
  background-color: var(--color1);
  display: block
}

.alt {
  display: none;
}

.link {
  padding: 8px;
  display: none;
}


/* ––––––––––––––––
––––––––––––––––––– BEHAVIOUR (pinned, open, alt)
––––––––––––––––––– */
.pinned .icon-container {
  color: var(--background);
  background-color: var(--foreground);
  /*box-shadow: inset 0px 1px 2px 0px rgba(0,0,0, 0 );*/
}

.open .output {
  display: inline;
  animation: slideout 0.2s;
}

.pinned .output {
  display: inline;
  animation: none;
}

.nohidden .output {
  display: inline;
}
.alt {
  display: none;
}


.red {
  color: var(--color1);
}
.green {
color: var(--color2);
}
.yellow {
  color: var(--color3);
}
.blue {
  color: var(--color4);
}
.cyan {
  color: var(--color5);
}
.magenta {
  color: var(--color6);
}
.white {
  color: var(--foreground);
}
.black {
  color: var(--background);
}

.pinned.red .icon-container {
  color: var(--background) !important;
  background-color: var(--color1);
}
.pinned.green .icon-container {
  color: var(--background) !important;
  background-color: var(--color2);
}
.pinned.yellow .icon-container {
  color: var(--background) !important;
  background-color: var(--color3);
}
.pinned.blue .icon-container {
  color: var(--background) !important;
  background-color: var(--color4);
}
.pinned.cyan .icon-container {
  color: var(--background) !important;
  background-color: var(--color5);
}
.pinned.magenta .icon-container {
  color: var(--background) !important;
  background-color: var(--color6);
}




/* ––––––––––––––––
––––––––––––––––––– SPECIAL BEHAVIOR (PER WIDGET)
––––––––––––––––––– */

#play {
  width: 480px;
}
#play .pinned {
  color: var(--foreground);
  background-color: var(--background);
}
#play-output {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* These have to be defined by ID because they are acted upon individually by
the script. So don't think of sanitizing them to classes */

#volume-bar-color-output {
  opacity: 1;
  width: 50%;
  background-color: var(--foreground);
}

#brightness-bar-color-output {
  opacity: 1;
  width: 50%;
  background-color: var(--foreground);
}

#task-container {
  height: 32px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#time-icon-container {
  color: var(--background);
  background-color: var(--color4);
}

#date-icon-container {
  color: var(--background);
  background-color: var(--color3);
}

/* ––––––––––––––––
––––––––––––––––––– POSITIONS & SIZE
––––––––––––––––––– */
#bar-top-coffee {
  top: var(--global_margin);
}
#bar-bottom-coffee {
  bottom: var(--global_margin);
}
#bar-top-coffee, #bar-bottom-coffee {
  left: var(--left-margin);
  right: var(--right-margin);
}

#desktop-coffee {
  left: var(--left-margin);
  top: var(--global_margin);
}

.active-desktop {
  color: var(--background);
  background-color: var(--foreground);
}

#music-player-coffee {
  bottom: var(--global_margin);
  left: var(--left-margin);
  display: inline;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
#play .output {
  width: 80px;
}
#play .bar-output {
  width: 124px;
  height: 4px;
}

#window-coffee {
  top: var(--global_margin);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

#base-monitor-coffee {
  top: var(--global_margin);
  right: var(--right-margin);
  width: auto;
}
#wifi-icon-container {
}
#wifi .output {
  min-width: 0px;
}

#system-monitor-coffee {
  bottom: var(--global_margin);
  right: var(--right-margin);
}

#app-switch-coffee {
  top: var(--global_margin);
  width: 100%;
  display: flex;
  justify-content: center;
}

#weather-coffee {
  top: var(--global_margin);
  margin-left: 20px; /* var(--left-margin); */
  right: var(--right-margin);
  display: flex;
  justify-content: center;
}

/* ––––––––––––––––
––––––––––––––––––– ANIMATIONS
––––––––––––––––––– */

@keyframes slideout {
  from { width: 1px; }
  to { width: 24px; }
}
