[Unit]
Description=Lock X session for user %i
Before=sleep.target

[Service]
User=%i
Environment=DISPLAY=:0
ExecStartPre=/usr/bin/xset dpms force suspend
ExecStart=/usr/local/bin/lock

[Install]
WantedBy=sleep.target
