*-autoloads.el
*.elc
.cache/
.dap-breakpoints
.eldev
config-private-*.el
eln-cache/
history
ielm-history.eld
init-private-*.el
lib-private-*.el
orgguide.info
semanticdb/
tree-sitter/
tutorial/
bookmarks
custom.el
fontaine-latest-state.eld
multisession/
url/
auto-save-list/
eshell/
games/
.DS_Store
