name: CI

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1

    - name: $HOME/.stack cache
      uses: actions/cache@v1
      with:
        path: ~/.stack
        key: ${{ runner.os }}-stack-${{ hashFiles('melkor/stack.yaml.lock') }}
        restore-keys: |
          ${{ runner.os }}-stack

    - name: Melkor tests
      run: ./eru-new.sh test

    - name: Shape the world!
      run: ./eru-new.sh
